.container {
    /* max-width: 50%; */
    /* display:inline-block; */
    /* max-height: max-content;
    display: inline-flex;
    height: 500px;
    border: 2px solid red; */

    background-color: #f1f1f1;
    padding: 20px;
            /* max-width:1170px; */
            background-color: #1d80b9; 
            color: #FFF;
             margin:auto;
             border: 2px solid red;

             /* width:200px; */
            
                  

}

 /* Style all input fields */
 input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
    background-color: rgb(11, 21, 105);
    color: white;
}

input[type=button] {
    background-color: rgb(11, 21, 105);
    color: white;
}
 /* The message box is shown when the user clicks on the password field */
 #message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
}
